In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# create a series
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
# create a dataframe
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
type(dates)

pandas.tseries.index.DatetimeIndex

In [5]:
# continue create a dataframe
# create dataframe
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.216008  0.724737 -1.053678 -0.506521
2013-01-02 -1.450830 -1.200771  2.554035  0.389602
2013-01-03  0.373973  1.443271  0.983935 -0.006081
2013-01-04 -0.727699 -0.035318 -0.085657 -0.847138
2013-01-05  0.189894 -1.401150  0.756333  2.009563
2013-01-06 -0.096372  2.839796  0.352006 -0.530314

In [6]:
np.random.randn(6,4)

array([[-0.65364652,  0.49382138, -0.42393158,  0.07463858],
       [-0.35510478, -0.66130948, -0.23428608, -0.40650283],
       [-1.71944381, -0.70884186,  0.92437241,  0.33909303],
       [ 0.29178613,  0.32913325, -0.11897948, -0.59935882],
       [ 0.11511158,  0.92421657, -0.58769558,  0.4930511 ],
       [-0.86395473, -1.5139152 ,  0.01111719,  0.96505047]])

The difference between Series and Dataframe. A Seires really only have one column. The index is like the row number in Excel.
However, we can label the index (aka row number) with something more meaningful in a data frame, by using the "index" keyword

In [7]:
# create dataframe from dict
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D': np.array([3] * 4,dtype='int32'),
                    'E': pd.Categorical(['test','train','test','train']),
                    'F': 'foo'
                   })

In [8]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
# specific dtypes
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [10]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [11]:
# viewing data
df.head()

                   A         B         C         D
2013-01-01 -0.216008  0.724737 -1.053678 -0.506521
2013-01-02 -1.450830 -1.200771  2.554035  0.389602
2013-01-03  0.373973  1.443271  0.983935 -0.006081
2013-01-04 -0.727699 -0.035318 -0.085657 -0.847138
2013-01-05  0.189894 -1.401150  0.756333  2.009563

In [12]:
df.tail()

                   A         B         C         D
2013-01-02 -1.450830 -1.200771  2.554035  0.389602
2013-01-03  0.373973  1.443271  0.983935 -0.006081
2013-01-04 -0.727699 -0.035318 -0.085657 -0.847138
2013-01-05  0.189894 -1.401150  0.756333  2.009563
2013-01-06 -0.096372  2.839796  0.352006 -0.530314

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.321174  0.395094  0.584496  0.084852
std    0.670433  1.621261  1.204569  1.039462
min   -1.450830 -1.401150 -1.053678 -0.847138
25%   -0.599776 -0.909407  0.023759 -0.524366
50%   -0.156190  0.344710  0.554169 -0.256301
75%    0.118328  1.263637  0.927035  0.290681
max    0.373973  2.839796  2.554035  2.009563

In [15]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.216008   -1.450830    0.373973   -0.727699    0.189894   -0.096372
B    0.724737   -1.200771    1.443271   -0.035318   -1.401150    2.839796
C   -1.053678    2.554035    0.983935   -0.085657    0.756333    0.352006
D   -0.506521    0.389602   -0.006081   -0.847138    2.009563   -0.530314

In [16]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.506521 -1.053678  0.724737 -0.216008
2013-01-02  0.389602  2.554035 -1.200771 -1.450830
2013-01-03 -0.006081  0.983935  1.443271  0.373973
2013-01-04 -0.847138 -0.085657 -0.035318 -0.727699
2013-01-05  2.009563  0.756333 -1.401150  0.189894
2013-01-06 -0.530314  0.352006  2.839796 -0.096372

In [17]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06 -0.096372  2.839796  0.352006 -0.530314
2013-01-05  0.189894 -1.401150  0.756333  2.009563
2013-01-04 -0.727699 -0.035318 -0.085657 -0.847138
2013-01-03  0.373973  1.443271  0.983935 -0.006081
2013-01-02 -1.450830 -1.200771  2.554035  0.389602
2013-01-01 -0.216008  0.724737 -1.053678 -0.506521

No such thing as "descending"

In [18]:
df.sort_index(axis=0, descending=False)

TypeError: sort_index() got an unexpected keyword argument 'descending'

In [ ]:
# sorting by values
df.sort_values(by='B')

In [ ]:
# getting
# selecitng a single column gives a Series object
# it includes the index though!
df['A']

In [ ]:
type(df['A'])

In [ ]:
# select via [] will slice the rows
df[0:3]

In [ ]:
# selection by label
# cross-section
df.columns

In [ ]:
df.index

# this is poor notation!
### when we defined df, we used a Pandas TimeSeries Index called "dates"
There's no actual column called dates in df. Instead dates[0] resolves to

    Timestamp('2013-01-01 00:00:00', offset='D')

which is guess is a timestamp object in pandas. We then slice df on that date.
#### The slice is a row, since that date is a one or our index name (e.g. row 1, row 10, etc). Thus we get the row, with that index name.

#### The confusing part is that it's printed vertically, even though it's a row from our dataframe.

In [ ]:
df.loc[dates[0]]

In [ ]:
dates[0]

#### Selecting on a multi-axis by label

In [ ]:
df.loc[:,['A','B']]

I read the above as "DataFrame df. This location. Rows, everything (from start to finish). Columns, A and B only"

In [ ]:
# showing label slicing, both endpoints are included
df.loc['20130102':'20130104',['A','B']]

In [ ]:
#reduction in the dimensions of the returned object
df.loc['20130102',['A','B']]

In [ ]:
# for getting a scalar value.
# aka, the value of a particulae "Cell" if this were Excel
df.loc[dates[0],'A']

#### the above says: dataframe at location [   row '0', column 'A'   ]

In [ ]:
# for fats access to a scalar (equivalent to above)
df.at[dates[0],'A']

#### Selection by Position

In [ ]:
# select via the position of passed integers
df.iloc[3]

In [ ]:
# for reference, we can see it took row 4, at the 3rd index (0 1 2 3)
df

In [19]:
# by integer slices
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.727699 -0.035318
2013-01-05  0.189894 -1.401150

In [20]:
# by lists of integrer position locations
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -1.450830  2.554035
2013-01-03  0.373973  0.983935
2013-01-05  0.189894  0.756333

In [21]:
# for slicing rows explicitly
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -1.450830 -1.200771  2.554035  0.389602
2013-01-03  0.373973  1.443271  0.983935 -0.006081

In [22]:
# for clising columsn explicitly
df.iloc[:,1:3]

                   B         C
2013-01-01  0.724737 -1.053678
2013-01-02 -1.200771  2.554035
2013-01-03  1.443271  0.983935
2013-01-04 -0.035318 -0.085657
2013-01-05 -1.401150  0.756333
2013-01-06  2.839796  0.352006

In [23]:
# for gettig a value explicitly
df.iloc[1,1]

-1.2007705716691734

In [25]:
# for getting fast access to  scalar. equivalne to the one just above
df.iat[1,1]

-1.2007705716691734

### Boolean Indexing

In [27]:
# using a single column's values to select data
df[df.A >0]

                   A         B         C         D
2013-01-03  0.373973  1.443271  0.983935 -0.006081
2013-01-05  0.189894 -1.401150  0.756333  2.009563

#### note, that above, we select every row (with all its columns) in the dataframce, where A meets the criteria

In [28]:
#a "where" operation for getting
df[df > 0]

                   A         B         C         D
2013-01-01       NaN  0.724737       NaN       NaN
2013-01-02       NaN       NaN  2.554035  0.389602
2013-01-03  0.373973  1.443271  0.983935       NaN
2013-01-04       NaN       NaN       NaN       NaN
2013-01-05  0.189894       NaN  0.756333  2.009563
2013-01-06       NaN  2.839796  0.352006       NaN

#### what happens above, is the boolen clause is evaluated on every cell. If it's true we see the value.
##### if it's false, we see NaN

In [30]:
# compare the actual df, to the one above using the "where" clause boolen expression
df

                   A         B         C         D
2013-01-01 -0.216008  0.724737 -1.053678 -0.506521
2013-01-02 -1.450830 -1.200771  2.554035  0.389602
2013-01-03  0.373973  1.443271  0.983935 -0.006081
2013-01-04 -0.727699 -0.035318 -0.085657 -0.847138
2013-01-05  0.189894 -1.401150  0.756333  2.009563
2013-01-06 -0.096372  2.839796  0.352006 -0.530314

In [32]:
# using the isin() method for filtering
df2 = df.copy()
df2['E'] = ['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01 -0.216008  0.724737 -1.053678 -0.506521    one
2013-01-02 -1.450830 -1.200771  2.554035  0.389602    one
2013-01-03  0.373973  1.443271  0.983935 -0.006081    two
2013-01-04 -0.727699 -0.035318 -0.085657 -0.847138  three
2013-01-05  0.189894 -1.401150  0.756333  2.009563   four
2013-01-06 -0.096372  2.839796  0.352006 -0.530314  three