# Multiple Regression using Statsmodels

## Understanding Multiple Regression

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [4]:
df_adv = pd.read_csv('http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv', index_col=0)

In [9]:
X = df_adv[['TV', 'Radio']]

In [11]:
X.head()

      TV  Radio
1  230.1   37.8
2   44.5   39.3
3   17.2   45.9
4  151.5   41.3
5  180.8   10.8

In [13]:
y = df_adv['Sales']
y.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: Sales, dtype: float64

In [14]:
df_adv.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

The multiple regression model describes the response as a weighted sum of the predictors:
Sales = B_0 + (B_1 * TV) + (B_2 * Radio)